.chat-room{
    background-color: #d6bdb6;
    height: 100vh;
    padding: 30px;
}

.chat-room-container{
    border: 3px solid black;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat-container{
    display: flex;
    height: 100%;
}

.room-number{
    border-bottom: 3px solid #272727;
    color: #2B50AA;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    height: 5%;
    width: 100%;
}

.room-number i{
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    background-color: #2B50AA;
}

.expand:hover{
    cursor: pointer;
 }
.chat-room-controls{
    border-right: 3px solid #000;
    display: flex;
    width: 15%;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}



.room-members{
    height: 80%;
    display: flex;
    flex-direction: column;
}

.room-member, .members-header{
    border-bottom: 3px solid #272727;
    padding: 10px 0;
    font-size: 1.6rem;
}

.members-header{
    font-weight: 600;
    background-color: #2B50AA;
    color: #fff;
}

.leave-room{
    height: 10%;
    background-color: #272727;
    border-top: 3px solid #272727;  
    display: flex;
    font-size: 1.6rem;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.leave-room span{
    color: #fff;
}

.leave-room:hover{
    background-color: #272727;
    
}

.leave-room i{
    margin: 0px 10px;
    font-weight: 600;
    color: #fff;
}

.chat-room-messages{
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100%;
}

.messages-area{
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-color: #272727 #e5c9c1;
    display: flex;
    flex-direction: column;
    height: 90%;
}

.message{
    max-width: 40%;
    margin:50px;
    box-shadow: -7px 7px #272727;
    word-wrap: break-word;
}

.sender{  
    margin-left: auto;
    box-shadow: 7px 7px #272727;
}

.sender .message-meta{
    background-color: #2B50AA ;
}

.message-meta{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #94BFA7;
    font-size: small;
}

.message-meta span{
    color: #fff;
}

.enc-data{
    padding: 10px;
    margin-bottom: 20px;
    border-top: 3px solid #272727;
    background-color:#ffe1d8;
}

.enc-data div{
    font-size: small;
    word-wrap: break-word;
}

.enc-data span{
    font-weight: bold;
    color: rgb(220, 38, 38);
}

.message-text{
    padding: 10px;
    font-size: 1.2rem;
    background-color:#ffe1d8;
}


.send-message-area{
    border-top: 3px solid #272727;
    display: flex;
    height: 10%;
}

.send-message-area button{
    font-size: 1.6rem;
    border: none;
    border-left: 3px solid #272727;
    background-color: #2B50AA;
    font-weight: 600;
    width: 15%;
}

.send-message-area button span{
    color: #fff;
}

.send-message-area button i{
    display: none;
    margin: 0px 10px;
    font-weight: 600;
    color: #fff;
}

.send-message-area button:hover{
    
    background-color: #272727;
    cursor: pointer;
}

.send-message-area input{
    width: 85%;
    padding-left: 20px;
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
    outline: none;
}

@media (max-width: 1100px){

    .room-member{
        font-size: 1.2rem;
        word-wrap: break-word;
        padding: 3px;
    }

    .leave-room span{
        display: none;
    }

    .send-message-area button span{
        display: none;
    }

    .send-message-area button i{
        display: inline;
    }
}

@media (max-width: 800px){
    .chat-room{
        padding: 0;
    }
    .chat-container{
        flex-direction: column;
        
    }

    .chat-room-controls{
        flex-direction: row;
        width: 100%;
        border-bottom: 3px solid #272727;
    }

    .members-header{
        display: none;
    }

    .room-members{
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        height: 100%;
    }

    .room-member{
        border: none;
        border-right: 3px solid #272727;
        border-bottom: 3px solid #272727;
    }

    .leave-room{
        height: 100%;
    }

    .leave-room i{
        font-size: 1.2rem;
        padding: 0 0 5px 10px  ;
    }

    .chat-room-messages{
        width: 100%;
    }

    .message{
        max-width: 70%;
        margin:25px;
    }

    .sender{  
        margin-left: auto;
    }

}